<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= process.env.appName %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="/logo.png">
    
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/templatemo.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">

</head>

<body>
    <%- include('./../header/adminheader') %>

    <!-- Start Content Page -->
    <div class="container">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="fw-bold text-danger">New Journal</h1>
            </div>
        </div>
        
        <div class="row mb-3">
            <form action="/journal" class="col-md-9 m-auto" method="post" role="form">
                <div class="row">
                    <div class="form-group col-md-5">
                        <img src="/thumb/journal/default" class="img-fluid border">
                        <select class="form-control mt-2 <% if(error.category_id) { %> is-invalid <% } %>" id="category" name="category_id" >
                            <option class="" value="">--choose category--</option>
                            <% categories.forEach(category=>{ %>
                                <% if(journal.category_id == category.id){ %>
                                    <option value="<%=  category.id %>" class="" selected><%=  category.title %></option>
                                <% }else{ %>
                                    <option value="<%=  category.id %>" class=""><%=  category.title %></option>
                                <% } %>
                            <% }) %>
                        </select>
                        <input type="text" class="form-control mt-2 <% if(error.title) { %> is-invalid <% } %>" id="category" name="title" placeholder="title" value="<%= journal.title%>">
                        <input type="date" class="form-control mt-2 <% if(error.dateofjournal) { %> is-invalid <% } %>" id="dateofjournal" name="dateofjournal" placeholder="dateofjournal" value="<%= journal.dateofjournal && journal.dateofjournal.toISOString().split('T')[0] %>">
                        <input type="text" class="form-control mt-2" id="linkofind" name="linkofind" placeholder="--link indonesian--" >
                        <input type="text" class="form-control mt-2 mb-2" id="linkofeng" name="linkofeng" placeholder="--link english--" >
                    </div>
                    <div class="form-group col-md-7">
                        <textarea type="text" class="form-control <% if(error.abstract) { %> is-invalid <% } %>" id="category" name="abstract" placeholder="abstract" rows="16"><%= journal.abstract %></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-end">
                        <button type="submit" class="btn btn-primary btn-lg px-3 mt-2">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Start Script -->
    <script src="/assets/js/jquery-1.11.0.min.js"></script>
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/templatemo.js"></script>
    <script src="/assets/js/custom.js"></script>
    <!-- End Script -->
</body>

</html>