<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= process.env.appName %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="/logo.png">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/templatemo.css">
    <link rel="stylesheet" href="/assets/css/custom.css">

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="/assets/css/slick.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/slick-theme.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">

</head>

<body>
    <%- include('./header/guestheader', {action:'/search'}) %>

    <!-- Start Categories -->
    <section class="container">
        <div id="carousel-category">
            <% categories.forEach(category=>{ %>
            <div class="p-2 pb-3">
                <a href="/<%= category.slug%>"><img src="/thumb/category/<%= category.thumb%>" class="rounded-circle img-fluid border"></a>
                <a href="/<%= category.slug%>" class="text-decoration-none text-dark"><h2 class="h5 text-center mt-3 mb-3"><%= category.title %></h2></a>
            </div>
            <% }) %>
        </div>
    </section>
    <!-- End Categories -->
    
    <!-- Start Newest Journals -->
    <section class="bg-light p-3">
        <div class="container">
            <div class="row p-3">
                <div class="col-12 text-center">
                    <h3 class="fw-bold">Newest Journals</h3>
                </div>
            </div>
                <div id="carousel-newest-journals">
                <% newestjournals.forEach(journal=>{ %>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card h-100">
                            <a href="/<%= journal.category_id.slug %>/<%= journal.slug%>">
                                <img src="./thumb/journal/<%= journal.thumb %>" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body" style="height:150px">
                                <a href="/<%= journal.category_id.slug %>/<%= journal.slug%>" class="text-decoration-none text-dark"><%= journal.title %></a>
                            </div>
                        </div>
                    </div>
                <% }) %>
                </div>
        </div>
    </section>
    <!-- End Newest Journals -->
    
    <!-- Start Most Viewed Journals -->
    <section class="p-3">
        <div class="container">
            <div class="row p-3">
                <div class="col-12 text-center">
                    <h3 class="fw-bold">Most Viewed Journals</h3>
                </div>
            </div>
                <div id="carousel-most-viewed-journals">
                <% mostviewedjournals.forEach(journal=>{ %>
                    <div class="col-12 col-md-3 mb-4">
                        <div class="card h-100">
                            <a href="/<%= journal.category_id.slug %>/<%= journal.slug%>">
                                <img src="./thumb/journal/<%= journal.thumb %>" class="card-img-top" alt="...">
                            </a>
                            <div class="card-body" style="height:150px">
                                <a href="/<%= journal.category_id.slug %>/<%= journal.slug%>" class="text-decoration-none text-dark"><%= journal.title %></a>
                            </div>
                        </div>
                    </div>
                <% }) %>
                </div>
        </div>
    </section>
    <!-- End Most Viewed Journals -->

    <%- include('./footer/guestfooter') %>
    

    <!-- Start Script -->
    <script src="/assets/js/jquery-1.11.0.min.js"></script>
    <script src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/templatemo.js"></script>
    <script src="/assets/js/custom.js"></script>
    <!-- End Script -->

    <!-- Start Slider Script -->
    <script src="/assets/js/slick.min.js"></script>
    <script>
        $('#carousel-category').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 4,
            dots: true,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                }
            ]
        });
        $('#carousel-newest-journals, #carousel-most-viewed-journals').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 4,
            dots: true,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>
    <!-- End Slider Script -->

</body>

</html>



